*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(250, 231, 149) ;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 50px;
}

.swiper-button-next::after {
    font-size: 50px;
}

.swiper-button-next {
    color: #ffbf0f;
}

.swiper-button-prev {
    color: #ff970f;
}

.swiper-pagination-bullet {
    background-color: #ffb846;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgb(243, 130, 24);
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}
.menu-1{
    margin-right: 80px;
    margin-left: 100px;
    margin-top: 40px;
}


.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-1 {
    width: 150px;
    
}
.logo-2 {
    width: 0;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(255, 143, 37);
    border-radius: 50%;
}

.social:hover {
    background-color: rgb(255, 143, 37);
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:#f7880a;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ffaa00;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}
.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
    
}

.slider-txt h1 {
    font-size: 70px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}


.slider-txt p {
    font-size: 20px;
    color:black;
    
}


.botones {
    margin-bottom: 10px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid rgb(255, 143, 37);
    color: rgb(255, 143, 37);
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    border: 2px solid rgb(255, 143, 37);
    background-color: rgb(247, 216, 80);
}

.slider-img {
    width: 50px;
    margin-right: 50%;    
}

.slider-imge img {
    margin-left: 470px;
    width: 550px;
    margin-top: 7%;
}

.slider-img img {
    margin-right: 125px;
    width: 550px;
    
}

.products {
    background-color: #ad703d;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #f7880a;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid rgb(255, 81, 0);
    color: rgb(250, 250, 250);
}

.tabs input[type="radio"]:checked + label + .tab{
    display: block;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: red;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid red;
    border-radius: 10px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product.txt {
    width: 150px;
    margin-left: 0px;
    text-align: left;
}

.product-txt h4{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: black;
    font-size: 18px;
    font-weight: 800;
}


.horario {
    padding: 100px 0px;
    background-color: #ff970f;
}


.horario-txt {
    display: flex;
    justify-content: space-between;
    background-color: #fca636;
    padding: 10px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: left;
   
}


.txt {
    color: black;
    margin-top: 100px;
}

.txt h4 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

.holas{
    margin-left: 100px;
    margin-right: 100px;
}

.txt p {
    font-size: 18px;
    font-weight: 500px;
    margin-top: 15px;
    
}


.footer {
    padding:  100px 0px;
   
}


/**movil**/
@media(max-width: 1000px) {

    .menu {
        padding: 30px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 150px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ad703d;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 250px;
    }

    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;

    }

    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label{
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 300px;
        margin-bottom: 25px;
        
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txte h2 {
        margin-bottom: 20px;
    }

    .info-txte p {
        text-align: left;
        margin-top: 10px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .product-txt p {
        margin-left: 40px;
        justify-content: center;
    }

    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        display: flex;
        margin: 0px 0px;
    }

    .horario-txt h4{
        font-size: 20px;
    }


    .holas{
        margin: auto;
    }

    .horario-txt P {
       font-size: 12px;
    }
    .socials {
        justify-content: center;
    }

    .social img {
        margin: 9px 9px 9px 9px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    
}